.App {
  text-align: center;
  font-family: 'Poppins', sans-serif
}
/*  */


.carouselLabel{
  color: #6bbd3c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 50vh;
  font-size: 90px;
}

#navbarId{
  font-family: 'Poppins', sans-serif;
}
#aboutId{
  font-family: 'Poppins', sans-serif;
}

#portofolioId{
  font-family: 'Poppins', sans-serif;
}

#galerryId{
  object-fit: cover;
  font-family: 'Poppins', sans-serif;
}

#footerId{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.galleryItem{
  height: 1000px;
  object-fit: cover;
}

#cardGallery{
  width: 370px;

  object-fit: cover;
}

.kolomAbout2{
  margin-bottom: 200px;
}

#linkFooter{
  color: aquamarine;
}
#Gallery2{
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  offset: 20px;
  

 
} 

#galleryCardCP{
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  letter-spacing: 7px;
}