.App {
  text-align: center;
  font-family: 'Poppins', sans-serif
}
/*  */


.carouselLabel{
  color: #6bbd3c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 50vh;
  font-size: 90px;
}

#navbarId{
  font-family: 'Poppins', sans-serif;
}
#aboutId{
  font-family: 'Poppins', sans-serif;
}

#portofolioId{
  font-family: 'Poppins', sans-serif;
}

#galerryId{
  object-fit: cover;
  font-family: 'Poppins', sans-serif;
}

#footerId{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.galleryItem{
  height: 300px;
  object-fit: cover;
}